<div class="container-fluid">
  <div class="row-fluid">
    <div class="add_order">
      <ul class="nav nav-tabs js-nav_tabs">
        <li class="active"><a href="#add_order" data-toggle="tab">编辑订单</a></li>
      </ul><!-- nav-tabs -->

      <%= render 'form' %>

    </div>
  </div>
</div>