 <div class="container-fluid">
    <ul class="breadcrumb">
      <li><%= link_to '互动中心', bbs_topics_path %><span class="divider">&gt;&gt;</span></li>
      <li class="active">发表新贴</li>
    </ul>
    <div class="row-fluid bbs_reset">
      
      <div class="span10 pull-left well">
        <%=render 'form'%>
      </div>
      
      <%= render partial: 'categories', :locals => { :categories => @categories }%>
    </div>
 </div>
  