<script type="text/javascript">
  function tog(id){
    $.get("/sellers/"+id+"/children", {}, function(data){
      var html = ""

      data.forEach(function(el, index){
        html += "<li><a href='/sellers/" + el.id + "/edit'>" + el.name + "</a></li>"
      })

      if (html.length == 0) {
        html += "<li><a>无下级经销商</a></li>"
      }

      $("#children_" + id).html(html)
    });
  }
  function add_seller_user(u_id){
    var s_id = $("#seller_id_container").text();
    $.get("/sellers/seller_user_list",{u_id:u_id, s_id:s_id}, function(result){

    })
  }
</script>

<% @sellers.each do |seller| %>
  <%= render "seller", seller: seller %>
<% end %>
