<div class="row-fluid">
  <ul class="breadcrumb" style="position:relative;">
    <li><a href="#">Magic</a><span class="divider">/</span></li>
    <li><a href='/sellers'>经销机构管理</a><span class="divider">/</span></li>
    <li class="active"><a href="#">编辑经销商</a></li>
  </ul><!-- breadcrumb -->
  
  <%= render 'form' %>
</div>