  <div class="row-fluid">
   <div class="span2 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav affix span2">
      <li class="active"><a href="#"><i class="icon-chevron-right"></i>默认仓库</a></li>
    </ul>
  </div>

  <div class="span10">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">入库单</a></li>
      <li><%= link_to "库存查询", stocks_path %></li>
      <li><%= link_to "入库单", stock_in_bills_path %></li>
      <li><%= link_to "出库单", stock_out_bills_path %></li>
      <li><%= link_to "所有进销", stock_bills_path %></li>
    </ul><!-- nav-tabs -->  

    <form class="form-horizontal">
      <div class="btn-toolbar">
        <button type="submit" class="btn btn-warning btn-small">保存</button>
        <button type="button" class="btn btn-warning btn-small">取消</button>
      </div>
      
      <div class="well clearfix">
        <fieldset class="span6">
          <div class="control-group">
            <label class="control-label">收货人：</label>
            <input type="text" class="input-medium" placeholder="输入关键字...">
          </div>
          <div class="control-group">
            <label class="control-label">手机：</label>
            <input type="text" class="input-medium" placeholder="134456845125">
          </div>
          <div class="control-group">
            <label class="control-label">邮编：</label>
            <input type="text" class="input-medium" placeholder="101010">
          </div>
          <div class="control-group">
            <label class="control-label">收货仓库：</label>
            <select class="input-medium select2">
              <option value="仓库二">仓库二</option>
            </select>
          </div>
          <div class="control-group">
            <label class="control-label">出库类型：</label>
            <select class="input-medium select2">
              <option value="线下销售出库">线下销售出库</option>
              <option value="">其他出库</option>
            </select>
          </div>
        </fieldset><!-- form left area -->
        <fieldset class="span6">
          <div class="control-group">
            <label class="control-label">固定电话：</label>
            <input type="text" class="input-medium" placeholder="134456845125">
          </div>
          <div class="control-group">
            <label class="control-label">收货地址：</label>
            <input type="text" class="input-medium" placeholder="北京市朝阳区">
          </div>
          <div class="control-group">
            <label class="control-label">地域：</label>
            <select class="input-small pull-left radius_no_rb select2">
              <option value="省">省</option>
            </select>
            <select class="input-small pull-left radius_no select2">
              <option value="市">市</option>
            </select>
            <select class="input-small pull-left radius_no_tl select2">
              <option value="区">区</option>
            </select>
          </div>
          <div class="control-group">
            <label class="control-label">物流公司：</label>
            <select class="input-small select2">
              <option value="EMS">EMS</option>
            </select>
          </div>
          <div class="control-group">
            <label class="control-label">出库时间：</label>
            <input type="text" class="input-medium js-datetimepicker">
          </div>
        </fieldset><!-- form right area -->
        <fieldset>
          <div class="control-group">
            <label class="control-label" style="width:70px;">备注：</label>
            <textarea rows="3" class="span9"></textarea>
          </div>
        </fieldset>
      </div>
    </form>
    <div>
      <ul class="nav nav-tabs js-nav_tabs">
        <li class="active"><a href="#good_info" data-toggle="tab">商品信息</a></li>
        <li><a href="#add_good" data-toggle="tab">新增商品</a></li>
      </ul>
      <div class="tab-content noborder_content">
        <div class="tab-pane active" id="good_info">
          <div class="btn-toolbar">
            <button type="button" class="btn btn-warning btn-small">删除</button>
          </div>
          <table class="table table-hover table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th width="5%"><input type="checkbox"></th>
                <th width="">编号</th>
                <th width="">商品名称</th>
                <th width="">图片</th>
                <th width="">规格</th>
                <th width="">颜色</th>
                <th width="">重量</th>
                <th width="">数量</th>
                <th width="">数量</th>
                <th width="">出货单号</th>
                <th width="">实际总价</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox"></td>
                <td>2013-01</td>
                <td>Jane</td>
                <td>付款</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="add_good">
          <form class="form-horizontal">
            <div class="btn-toolbar">
              <button type="button" class="btn btn-warning btn-small">添加</button>
            </div>
            <fieldset>
              <div class="control-group">
                <label class="control-label" style="width:70px;text-align:left;">商品：</label>
                <select class="input-small pull-left radius_no_rb select2">
                  <option value="分类一">分类</option>
                </select>
                <select class="input-small pull-left radius_no_tl select2">
                  <option value="产品型号">产品型号</option>
                </select>
              </div>
            </fieldset>
            <div class="row-fluid">
              <fieldset class="span6">
                <div class="control-group">
                  <label class="control-label">数量：</label>
                  <input type="text" class="input-medium" placeholder="10">
                </div>
                <div class="control-group">
                  <label class="control-label">单价：</label>
                  <input type="text" class="input-medium" placeholder="100">
                </div>
              </fieldset><!-- form left area -->
              <fieldset class="span6">
                <div class="control-group">
                  <label class="control-label">商品属性：</label>
                  <select class="input-small select2">
                    <option value="红">红</option>
                  </select>
                </div>
                <div class="control-group">
                  <label class="control-label">实际总价：</label>
                  <input type="text" class="input-medium" placeholder="500">
                </div>
              </fieldset><!-- form right area -->
            </div>  
          </form>
        </div>
      </div><!--tab-content -->
    </div><!-- -->
  </div><!--span10 -->
</div><!--row-fluid -->
