<div class="container-fluid">
  <div class="row-fluid">
    <%= render partial: "layouts/setting_nav" %>
    <div class="span10">
     <div class="row-fluid">
        <ul class="breadcrumb" style="position:relative;">
          <li><a href="/">Magic</a><span class="divider">/</span></li>
          <li class="active"><% if params[:action] == "new" || params[:action] == "create" %>新增物流公司<% elsif params[:action] == "edit" || params[:action] == "update" %>编辑物流公司<% end %></li>
        </ul><!-- breadcrumb -->
        <%= render 'form' %>
     </div>
    </div>
  </div>
</div>
