<div class="container-fluid">
	<div class="container-fluid">
  <header class="jumbotron subhead" id="overview">
    <div class="subnav">
      <ul class="nav nav-pills">
        <li class="dropdown active">
          <a >物流商</a>
        </li>
        <li><a href="/areas">地域管理</a></li>
        <li><a href="/users">用户管理</a></li>
      </ul>
    </div>
  </header>
	<div class="row-fluid">
	  <ul class="breadcrumb" style="position:relative;">
	    <li><a href="/">Magic</a><span class="divider">/</span></li>
	    <li><a href="#">系统设置</a><span class="divider">/</span></li>
	    <li><a href="/logistics">物流商管理</a><span class="divider">/</span></li>
	    <li class="active">新增物流商</li>
	  </ul><!-- breadcrumb -->

	  <%= render 'form' %>
	</div>
</div>