<td id="operation_<%= bill.id %>"  data-col="operation" style="<%= 'display:none' unless @visible_cols.include?("operation") %>">
  <% bill.operation_logs.each do |log| %>
    <span class=label>
      <%= "#{log.operation} #{l(log.operated_at)}" %>
    </span>
    </br>
  <% end %>
</td>