<ul class="breadcrumb" style="position:relative;">
  <li><a href="/">Magic</a><span class="divider">/</span></li>
  <li><a href="/third_parties">第三方管理</a><span class="divider">/</span></li>
  <li class="active">新增第三方</li>
</ul><!-- breadcrumb -->

<%= render :partial => 'form' %>
