<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="">批量设置可用库存</h3>
</div>
<!--
<div class="modal-body">
  <fieldset class="form-inline mar_b15">
    <label class="span2">商品名称：</label>
    <span id="product_name"></span>
  </fieldset>
</div>
-->
<div class="modal-body">
  <fieldset class="form-inline mar_b15">
    <label class="span2">可用库存：</label>
    <input type="text" placeholer="请输入可用库存" name="activity" id="activity_value">
  </fieldset>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  <button class="btn btn-primary">保存</button>
</div>