<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="">批量设置安全库存</h3>
</div>
<div class="modal-body">
  <fieldset class="form-inline mar_b15">
    <label class="span2">安全库存：</label>
    <input type="text" placeholer="请输入安全库存" name="safe_value" id="safe_value">
  </fieldset>

</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  <button class="btn btn-primary">保存</button>
</div>