<div class="row-fluid">
  <div class="span10 w100">
    <%= render partial: "layouts/all_crumbs" %>
    <%= render partial: "layouts/warehouse_menu" %>
    <%= render "table" %>
  </div><!-- span10 -->
</div><!--row-fluid-->

<% content_for :tail do %>
<script>
function processChecked(full_url){
  var stock_product_ids = $('input[name=\"stock_product_ids[]\"]:checked').map(function(){ return $(this).val()}).get().join(',');
  $(location).attr('href', full_url + '&export_ids=' + stock_product_ids);
}

$(function() {
  $(".set_stock").click(function(){
    var tag_name = $(this).attr("href")
    if ($(tag_name).attr("aria-hidden") == "true") {
      $( "#stocks_index_form" ).validate({
        rules: {
          safe_value: {
            required: true,
            number: true
          },
          activity: {
            required: true,
            number: true
          }
        },
        messages: {
          safe_value: {
            required: "安全库存数量不能为空!",
            number: "必须是数字"
          },
          activity: {
            required: "实际库存数量不能为空!",
            number: "必须是数字"
          }
        }
      });
    };
    if ($("td>input:checked").length == 0 ) {
      alert("请选择需要设置的商品!")
      return false
    }
    var tr_name = "#stock_product_" + $("td>input:checked:first").val() + ">td.sku_title";
    var sku_title = $(tr_name).text();
    $("#product_name").text(sku_title);
  })

  clickTableRow("stocks_table");
  visibleTableColumns("#dropdown_check", "#visible_columns", "#stocks_table");
})
</script>
<% end %>