    <ul class="breadcrumb" style="position:relative;">
      <li><a href="/">Magic</a><span class="divider">/</span></li>
      <li><a href="/users">系统设置</a><span class="divider">/</span></li>
      <li><a href="/users">用户管理</a><span class="divider">/</span></li>
      <li><a href="/users"><%=current_user.name%></a><span class="divider">/</span></li>
      <li class="active">编辑</li>
    </ul><!-- breadcrumb -->

    <%= simple_form_for @user,:url => user_path(@user,:from_path => "edit_with_role"), html: {:class =>'well form-horizontal'} do |f| %>
    
      <%= render :partial => 'form',:locals => {:f => f} %>
    <% end %>

