<div class="container-fluid">
	<header class="jumbotron subhead" id="overview">
	  <div class="subnav">
	    <ul class="nav nav-pills">
	      <li class="active"><a href="/users">用户管理</a></li>
	      <li><a href="/areas">地域管理</a></li>
	    </ul>
	  </div>
	</header>
	<div class="row-fluid">
	  <ul class="breadcrumb" style="position:relative;">
	    <li><a href="/">Magic</a><span class="divider">/</span></li>
	    <li><a href="/users">系统设置</a><span class="divider">/</span></li>
	    <li><a href="/users">用户管理</a><span class="divider">/</span></li>
	    <li class="active">编辑用户</li>
	  </ul><!-- breadcrumb -->

	  <%= render 'form' %>
	</div>
</div>