        <ul class="breadcrumb" style="position:relative;">
          <li><a href="/">Magic</a><span class="divider">/</span></li>
          <li class="active">编辑</li>
        </ul><!-- breadcrumb -->
        <%= render 'form' %>
