<body class='whiteSmoke_bg'>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%= link_to image_tag("logo.png"), 'javascript:void(0)', class: 'brand' %>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid clearfix">
    <div class="row-fluid">
      <div class="span2 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix span2">
          <li class="active"><a href="javascript:void(0)">
            <i class="icon-chevron-right"></i> 一键开始</a>
          </li>
        </ul>
      </div>
      <div class="span10">
        <ul class="nav nav-tabs">
          <li><a href="javascript:void(0)">管理员设置</a></li>
          <li><a href="javascript:void(0)">数据自动设置</a></li>
          <li class="active"><a href="javascript:void(0)">自动化业务设置</a></li>
          <li><a href="javascript:void(0)">设置系统登录用户</a></li>
        </ul>
        <div class="tab-content">
          <%= form_tag('/account_setups/options_setup', :method => :put)  do %>
            <p>请选择您的自动化业务设置：</p>
            <fieldset>
              <label>自动发货</label>
              <div class="control-group">
                <label class="radio pull-left">
                  <input type="radio" name="autodispatch"  value="on" >是
                </label>
                <div class="controls">
                  <p class="muted">当订单在打印物流面单的同时，就同步将物流面单的参数返回淘宝</p>
                  <p class="text-error">注意：若有订单是物流信息出错的，淘宝发货状态将失败</p>
                </div>
              </div>

              <div class="control-group">
                <label class="radio pull-left">
                  <input type="radio" checked="" name="autodispatch" value="off">否
                </label>
                <div class="controls">
                  <p class="muted">需要点击发货的按钮，订单才会自动发货</p>
                </div>
              </div>
            </fieldset><!-- end -->
            <fieldset>
              <label>自动审单</label>
              <div class="control-group">
                <label class="radio pull-left">
                  <input type="radio" name="autocheck"  value="on" >是
                </label>
                <div class="controls">
                  <p class="muted">当订单已付款没有客户备注，客服备注，并且库存充足无需要拆单，知道审单通过</p>
                </div>
              </div>

              <div class="control-group">
                <label class="radio pull-left">
                  <input type="radio" checked="" name="autocheck"  value="off">否
                </label>
                <div class="controls">
                  <p class="muted">需要客服在系统内操作按钮“审单”，订单状态才会改为已审单</p>
                </div>
              </div>
            </fieldset><!-- end -->
            <fieldset>
              <label>自动分派</label>
              <div class="control-group">
                <label class="radio pull-left">
                  <input type="radio" name="autodistribution"   value="on">是
                </label>
                <div class="controls">
                  <p class="muted">当审单通过的订单，自动分派到仓库</p>
                </div>
              </div>

              <div class="control-group">
                <label class="radio pull-left">
                  <input type="radio" checked="" name="autodistribution"  value="off">否
                </label>
                <div class="controls">
                  <p class="muted">需要客服在系统内操作按钮“分派”。订单分到仓库</p>
                </div>
              </div>
            </fieldset><!-- end -->
            <button class="btn">下一步</button>
          <% end %>
        </div><!-- tab-content end -->
      </div>
    </div>
  </div>
</body>