<body class='whiteSmoke_bg'>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%= link_to image_tag("logo.png"), 'javascript:void(0)', class: 'brand' %>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid start_key">
    <div class="row-fluid">
      <h4 class="pagination-centered start_tit">亲，工作不要太累，找几个人跟你一起开店吧！</h4>
      <ul class="unstyled pagination-centered clearfix start_tips start_tips4">
        <li class="pull-left" style="width:25%;">管理员设置</li>
        <li class="pull-left" style="width:27%;">店铺初始化</li>
        <li class="pull-left" style="width:25%;">店铺功能设置</li>
        <li class="active pull-left" style="width:20%;">店铺账号设置</li>
      </ul>
      <%= simple_form_for User.new, url: account_setup_path, method: :put, html: { class: 'form-horizontal start_form3'} do |f| %>
        <div class="clearfix">
          <div class="well span8 offset2">
            <ul class="thumbnails">
              <li class="span6">
                <div class="thumbnail">
                  <img src="/images/account_setups/start_key4_1.jpg" alt="">
                  <h5 class="" style="background:#e6b831;">客服账号设置</h5>
                  <div>
                    <input class="pagination-centered input-xlarge" name='cs' type="text" placeholder="请输入客服登录账号的邮箱或手机">
                  </div>
                </div>
              </li>
              <li class="span6">
                <div class="thumbnail">
                  <img src="/images/account_setups/start_key4_2.jpg" alt="">
                  <h5 class="">仓库管理员账号设置</h5>
                  <div>
                    <input name='stock_admin' class="pagination-centered input-xlarge" type="text" placeholder="请输入仓库管理账号的邮箱或手机">
                  </div>
                </div>
              </li>
            </ul>
            <div class="pagination-centered" style="color:#dc9b17;">
              系统将发送密码邮件到您输入的邮箱或手机，请确保邮箱无误。
            </div>
          </div>
        </div>
        <div class="pagination-centered">
          <%= f.button :submit, '开始使用', :class=>"btn btn-success", :"data-disable-with" => '提交中...' %>
        </div>
      <%- end -%>
    </div>
  </div>
</body>