<!-- <header class="jumbotron subhead" id="overview">
  <div class="subnav">
    <ul class="nav nav-pills">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
          总览
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="customer_service.html">商城绩效</a></li>
          <li><a href="customer_service2.html">客服对比</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
          商城总绩效
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="c_shop_performance.html">总绩效报表</a></li>
          <li><a href="c_shop_performance2.html">客单价分析</a></li>
          <li><a href="c_shop_performance3.html">客件数分析</a></li>
          <li><a href="c_shop_performance4.html">成功率分析</a></li>
          <li><a href="c_shop_performance5.html">工作量分析</a></li>
          <li><a href="c_shop_performance6.html">接待压力分析</a></li>
          <li><a href="c_shop_performance7.html">退款情况分析</a></li>
          <li><a href="c_shop_performance8.html">销售量分析</a></li>
        </ul>
      </li>
      <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          客服对比
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="c_service.html">绩效对比</a></li>
          <li><a href="c_service2.html">客单价对比</a></li>
          <li><a href="c_service3.html">客件数对比</a></li>
          <li><a href="c_service4.html">成功率对比</a></li>
          <li><a href="c_service5.html">工作量对比</a></li>
          <li><a href="c_service6.html">议价能力对比</a></li>
          <li><a href="c_service7.html">退款情况对比</a></li>
          <li><a href="c_service8.html">值班情况对比</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          客服绩效
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="c_service_performance.html">绩效报表</a></li>
          <li><a href="c_service_performance2.html">客单价分析</a></li>
          <li><a href="c_service_performance3.html">客件数分析</a></li>
          <li><a href="c_service_performance4.html">成功率分析</a></li>
          <li><a href="c_service_performance5.html">工作量分析</a></li>
          <li><a href="c_service_performance6.html">接待压力分析</a></li>
          <li><a href="c_service_performance7.html">退款情况分析</a></li>
          <li><a href="c_service_performance8.html">值班情况分析</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          客服明细
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="c_service_detail.html">旺旺接待记录</a></li>
          <li><a href="c_service_detail2.html">下单成功明细</a></li>
          <li><a href="c_service_detail3.html">付款成功明细</a></li>
          <li><a href="c_service_detail4.html">下单未付款明细</a></li>
          <li><a href="c_service_detail5.html">静默下单未付款明细</a></li>
          <li><a href="c_service_detail6.html">询单流失明细</a></li>
          <li><a href="c_service_detail7.html">协助服务明细</a></li>
          <li><a href="c_service_detail8.html">接待过滤明细</a></li>
          <li><a href="c_service_detail9.html">旺旺退款明细</a></li>
          <li><a href="c_service_detail10.html">未回复明细</a></li>
          <li><a href="c_service_detail11.html">慢响应明细</a></li>
          <li><a href="c_service_detail12.html">静默销售明细</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header> -->