<div class="row-fluid">
	<ul class="breadcrumb" style="position:relative;">
	  <li><a href="#">Magic</a><span class="divider">/</span></li>
	  <li><a href="#">客服管理</a><span class="divider">/</span></li>
	  <li class="active">系统设定</li>
	</ul><!-- breadcrumb -->

	<div class="mar_t5">
    <ul class="nav nav-tabs reset_border nomargin" id="myTab_sub">
      <li class="active"><a href="#tab1" data-toggle="tab">接待过滤设置</a></li>
      <!-- <li><a href="#tab2" data-toggle="tab">基本设置</a></li> -->
    </ul>

    <div class="tab-content reset_border">
    	<div class="tab-pane active" id="tab1">
        <div class="re_margin30">
        	<div class="clearfix">
        		<label class="span2 control-label pull-left mar_t5" for="">(1)自家旺旺过滤</label> 	
	        	<div class="btn-group pull-left" data-toggle="buttons-radio">        		
						  <button type="button" class="btn btn-primary">开启</button>
						  <button type="button" class="btn btn-primary">关闭</button>
						</div>
        	</div>
        	<div class="clearfix">
        		<label class="span2 control-label pull-left mar_t5" for="">(2)赤兔名品团队旺旺过滤</label> 	
	        	<div class="btn-group pull-left" data-toggle="buttons-radio">        		
						  <button type="button" class="btn btn-primary">开启</button>
						  <button type="button" class="btn btn-primary">关闭</button>
						</div>
        	</div>
        	<div class="clearfix">
        		<label class="span2 control-label pull-left mar_t5" for="">(3)E客服转发过滤</label> 	
	        	<div class="btn-group pull-left" data-toggle="buttons-radio">        		
						  <button type="button" class="btn btn-primary">开启</button>
						  <button type="button" class="btn btn-primary">关闭</button>
						</div>
        	</div>
        	<div class="clearfix">
        		<label class="span2 control-label pull-left mar_t5" for="">(4)指定旺旺过滤</label> 	
	        	<div class="btn-group pull-left mar_r10" data-toggle="buttons-radio">        		
						  <button type="button" class="btn btn-primary">开启</button>
						  <button type="button" class="btn btn-primary">关闭</button>
						</div>
						<a class="pull-left mar_t5" href="#">配置指定旺旺过滤列表</a>
        	</div>
        	<div class="clearfix">
        		<label class="span2 control-label pull-left mar_t5" for="">(5)广告过滤</label> 	
	        	<div class="btn-group pull-left mar_r10" data-toggle="buttons-radio">        		
						  <button type="button" class="btn btn-primary">开启</button>
						  <button type="button" class="btn btn-primary">关闭</button>
						</div>
            <label class="control-label pull-left mar_t5" for="">设置广告暗语：</label>
            <div class="controls pull-left">
              <input type="text" class="input-xlarge">
            </div>
            <label class="control-label pull-left mar_t5 mar_r20" for="">(必须少于40个字符)</label>
            <label class="control-label pull-left mar_t5" for="">识别回复句数：</label>
            <div class="controls pull-left">
              <input type="text" class="input-mini">
            </div>
            <label class="control-label pull-left mar_t5 mar_r10" for="">(必须为大于0的整数)</label>
            <button type="submit" class="btn btn-primary pull-left">保存</button>
          </div>
          <div class="clearfix">
        		<label class="span2 control-label pull-left mar_t5" for="">(6)主号自动回复过滤</label> 	
	        	<div class="btn-group pull-left mar_r10" data-toggle="buttons-radio">        		
						  <button type="button" class="btn btn-primary">开启</button>
						  <button type="button" class="btn btn-primary">关闭</button>
						</div>
            <label class="control-label pull-left mar_t5" for="">自动回复内容：</label>
            <div class="controls pull-left">
              <input type="text" class="input-xlarge">
            </div>
            <label class="control-label pull-left mar_t5 mar_r10" for="">(必须少于100个字符)</label>
            <button type="submit" class="btn btn-primary pull-left">保存</button>
          </div>
          <div class="clearfix">
        		<label class="span2 control-label pull-left mar_t5" for="">(6)客服单句过滤</label> 	
	        	<div class="btn-group pull-left mar_r10" data-toggle="buttons-radio">        		
						  <button type="button" class="btn btn-primary">开启</button>
						  <button type="button" class="btn btn-primary">关闭</button>
						</div>
            <label class="control-label pull-left mar_t5" for="">客服最少回复句数：</label>
            <div class="controls pull-left">
              <input type="text" class="input-mini">
            </div>
            <label class="control-label pull-left mar_t5 mar_r10" for="">(必须为大于0的整数)</label>
            <button type="submit" class="btn btn-primary pull-left">保存</button>
          </div>
        	<div class="clearfix">
        		<label class="span2 control-label pull-left mar_t5" for="">(7)旺旺群发过滤</label>
	        	<div class="btn-group pull-left mar_r10" data-toggle="buttons-radio">        		
						  <button type="button" class="btn btn-primary">开启</button>
						  <button type="button" class="btn btn-primary">关闭</button>
						</div>
						<label class="control-label pull-left mar_t5" for="">说明：需过滤的群发信息请用@符号开头，否则不能过滤，如：@大家好</label>
        	</div>
        	<div class="clearfix">
        		<label class="span2 control-label pull-left mar_t5" for="">(8)客服单口相声过滤</label>
	        	<div class="btn-group pull-left mar_r10" data-toggle="buttons-radio">        		
						  <button type="button" class="btn btn-primary">开启</button>
						  <button type="button" class="btn btn-primary">关闭</button>
						</div>
						<label class="control-label pull-left mar_t5" for="">说明：一次聊天中只有客服一人说话则过滤</label>
        	</div>
        </div>
      </div>

      <!-- <div class="tab-pane" id="tab2">
        <div class="re_margin30">
        	<label class="control-label" for="">落实下单：</label>
        	<div class="btn-group" data-toggle="buttons-checkbox">
					  <button type="button" class="btn btn-primary">默认</button>
					</div>
					<label class="control-label" for="">落实付款：</label>
					<div class="btn-group" data-toggle="buttons-checkbox">
					  <button type="button" class="btn btn-primary">默认</button>
					</div>
					<label class="control-label" for="">空聊天记录：</label>
					<div class="btn-group" data-toggle="buttons-checkbox">
					  <button type="button" class="btn btn-primary">默认</button>
					</div>
					<label class="control-label" for="">客单价计算：</label>
					<div class="btn-group" data-toggle="buttons-radio">
					  <button type="button" class="btn btn-primary">默认</button>
					  <button type="button" class="btn btn-primary">客单价修正</button>
					</div>
					<label class="control-label" for="">自动回复识别：</label>
					<div class="btn-group" data-toggle="buttons-radio">
					  <button type="button" class="btn btn-primary">开启</button>
					  <button type="button" class="btn btn-primary">关闭</button>
					</div>
          <label class="control-label" for="">售后天数：</label>
          <div class="btn-group open">
	          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">请选择<span class="caret"></span></button>
	          <ul class="dropdown-menu">
	            <li><a href="#">五天</a></li>
	            <li><a href="#">十天</a></li>
	            <li><a href="#">十五天</a></li>
	            <li class="divider"></li>
	            <li><a href="#">其他</a></li>
	          </ul>
	        </div>
	        <label class="control-label" for="">最长等待时间：</label>
          <div class="btn-group open">
	          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">请选择<span class="caret"></span></button>
	          <ul class="dropdown-menu">
	            <li><a href="#">五分钟</a></li>
	            <li><a href="#">十分钟</a></li>
	            <li><a href="#">十五分钟</a></li>
	            <li class="divider"></li>
	            <li><a href="#">其他</a></li>
	          </ul>
	        </div>         
        </div>
      </div> -->

    </div>    	
  </div>
</div>	