<style type="text/css">
.login.modal.fade{top:50%;margin-left:-161px;margin-top:-105px;}
.modal.fade.in {top: 50%;}
</style>
<div class="row-fluid">
  <div class="indexWrap">
    <div class="centerDashboard hide">
      <% if user_signed_in? %>
        <div>
          <a class="indexStart1" href="/app#trades"><span>订单管理</span></a>
        </div>

        <% unless current_account.key == 'nippon' and (current_user.has_role?(:seller) || current_user.has_role?(:interface) ) %>
          <% if (!current_user.has_role?(:cs))||(current_user.has_role?(:cs) && current_account.settings.disable_module_cs_stocks == 1) %>
           <div>
            <%= link_to stock_path_by_user, class: 'indexStart4' do %>
              <span>仓库管理</span>
            <% end %>
            </div>
          <% end %>  
        <% end %>

        <% if current_account.settings.enable_module_bbs %>
            <%- if current_account.key == 'nippon' -%>
              <% if current_user.has_role?(:seller) || current_user.has_role?(:interface) || current_user.has_role?(:admin) -%>
                <div>
                  <a class="indexStart7" href="/go/npsellers" target="_blank"><span>互动中心</span></a>
                </div>
              <%- end %>
            <%- else -%>
              <div>
                <a class="indexStart7" href="/bbs_topics"><span>互动中心</span></a>
              </div>
            <%- end -%>
        <% end %>

        <div>
          <a class="indexStart3" href="/trade_reports"><span>数据魔方</span></a>
        </div>


        <% if current_user.has_role?(:cs) || current_user.has_role?(:admin) -%>
          <div>
            <a class="indexStart5" href="/sellers"><span>经销商管理</span></a>
          </div>
          <% if (!current_user.has_role?(:cs))||(current_user.has_role?(:cs) &&current_account.settings.disable_module_cs_products == 1) %>
            <div>
              <a class="indexStart8" href="/products"><span>商品管理</span></a>
            </div>
          <% end %>
        <% end %>
        <% if current_user.has_role?(:admin) -%>
          <% if current_account.settings.enable_module_reconcile_statements == true %>
            <div>
              <a class="indexStart9" href="/reconcile_statements"><span>财务管理</span></a>
            </div>
          <% end %>
        <% end %>
        <% if current_account.settings.enable_module_wangwang == true %>
          <div>
            <a class="indexStart2" href="/callcenter/contrastive_performance"><span>客服管理</span></a>
          </div>
        <% end %>
      <% else -%>
        <div>
          <a class="indexStart1" href="#"><span>订单管理</span></a>
        </div>
        <div>
          <a class="indexStart2" href="#"><span>客服管理</span></a>
        </div>
        <div>
          <a class="indexStart3" href="#"><span>数据魔方</span></a>
        </div>
        <div>
          <a class="indexStart4" href="#"><span>仓库管理</span></a>
        </div>
        <div>
          <a class="indexStart5" href="#"><span>经销商管理</span></a>
        </div>
        <div>
          <a class="indexStart6" href="#"><span>VIP</span></a>
        </div>
        <div>
          <a class="indexStart7" href="#"><span>互动中心</span></a>
        </div>
        <div>
          <a class="indexStart8" href="#"><span>商品管理</span></a>
        </div>
      <% end -%>
    </div>
  </div>
</div>
