<head>
  <meta charset="utf-8">
  <title>magic_admin首页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
</head>

<body class="yellow_background" data-spy="scroll" data-target=".subnav" data-offset="50">
	<div class="row-fluid">
		<!-- Navbar
		  ================================================== -->
		  <div class="navbar navbar-inverse navbar-fixed-top">
		    <div class="navbar-inner">
		      <div class="container-fluid">
		        <a class="brand" href="#"><img src="/assets/logo.png"></a>
		      </div>
		    </div>    
		  </div>
		<!--Navbar ends-->

		<div class="indexWrap">
		  <div class="centerT" id="centerT">
		    <div>
		      <a class="indexStart1" href="/trades"><span>订单管理</span></a>
		    </div>
		    <div>
		      <a class="indexStart2" href="#"><span>客服管理</span></a>
		    </div>
		    <div>
		      <a class="indexStart3" href="#"><span>数据魔方</span></a>
		    </div>
		    <div>
		      <a class="indexStart4" href="#"><span>仓库管理</span></a>
		    </div>
		    <div>
		      <a class="indexStart5" href="/sellers"><span>经销商管理</span></a>
		    </div>
		    <div>
		      <a class="indexStart6" href="#"><span>VIP</span></a>
		    </div>
		    <div>
		      <a class="indexStart7" href="#"><span>互动中心</span></a>
		    </div>
		    <div>
		      <a class="indexStart8" href="#"><span>商品管理</span></a>
		    </div>
		  </div>
		</div>
  </div>
</body>