<style type="text/css">
.login.modal.fade{top:50%;margin-left:-161px;margin-top:-105px;}
.modal.fade.in {top: 50%;}
footer.page_footer{position:fixed;}
</style>
<div class="row-fluid">
  <div class="indexWrap">
    <div class="centerDashboard hide">
      <% if user_signed_in? %>
      <% if current_user.allow_read?(:trades) %>
        <div><a class="indexStart1" href="/app#trades"><span>订单管理</span></a></div>
        <% end %>

          <% if current_user.allow_read?(:stocks) && current_account.key != 'nippon' %>
           <div>
            <%= link_to stocks_path_adapter, class: 'indexStart4' do %>
              <span>仓库管理</span>
            <% end %>
            </div>
        <% end %>

        <% if current_account.settings.enable_module_bbs %>
              <% if current_user.allowed_to?("go","npsellers") && current_account.key == 'nippon' -%>
                <div>
                  <a class="indexStart7" href="/go/npsellers" target="_blank"><span>互动中心</span></a>
                </div>
            <%- else -%>
              <div>
                <a class="indexStart7" href="/bbs_topics"><span>互动中心</span></a>
              </div>
            <%- end -%>
        <% end %>

        <div>
          <a class="indexStart3" href="/sales/summary"><span>数据魔方</span></a>
        </div>


        <% if current_user.allowed_to?("sellers","index") && current_account.settings.enable_module_muti_sellers == 1 -%>
          <div>
            <a class="indexStart5" href="/sellers"><span>经销商管理</span></a>
          </div>
        <% end %>

        <% if current_user.allow_read?(:products) %>
          <div>
            <a class="indexStart8" href="/products"><span>商品管理</span></a>
          </div>
        <% end %>
        <% if current_user.allow_read?(:customers) %>
          <div>
            <a class="indexStart6" href="/customers"><span>顾客管理</span></a>
          </div>
        <% end %>
          
        <% if current_user.allowed_to?("reconcile_statements","index") -%>
          <% if current_account.settings.enable_module_reconcile_statements == true %>
            <div>
              <a class="indexStart9" href="/reconcile_statements"><span>财务管理</span></a>
            </div>
          <% end %>
        <% end %>
      
        <% if current_account.settings.enable_module_wangwang == true %>
          <div>
            <a class="indexStart2" href="/callcenter/contrastive_performance"><span>客服管理</span></a>
          </div>
        <% end %>
      <% else -%>
        <div>
          <a class="indexStart1" href="#"><span>订单管理</span></a>
        </div>
        <div>
          <a class="indexStart2" href="#"><span>客服管理</span></a>
        </div>
        <div>
          <a class="indexStart3" href="#"><span>数据魔方</span></a>
        </div>
        <div>
          <a class="indexStart4" href="#"><span>仓库管理</span></a>
        </div>
        <div>
          <a class="indexStart5" href="#"><span>经销商管理</span></a>
        </div>
        <div>
          <a class="indexStart6" href="#"><span>VIP</span></a>
        </div>
        <div>
          <a class="indexStart7" href="#"><span>互动中心</span></a>
        </div>
        <div>
          <a class="indexStart8" href="#"><span>商品管理</span></a>
        </div>
      <% end -%>
    </div>
  </div>
</div>
