<head>
  <meta charset="utf-8">
  <title>magic_admin首页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
</head>

<body class="yellow_background" data-spy="scroll" data-target=".subnav" data-offset="50">
	<div class="row-fluid">
		<!-- Navbar
		  ================================================== -->
		  <div class="navbar navbar-inverse navbar-fixed-top">
		    <div class="navbar-inner">
		      <div class="container-fluid">
		        <a class="brand" href="#"><img src="/assets/logo.png"></a>
		      </div>
		    </div>    
		  </div>
		<!--Navbar ends-->

		<div class="indexWrap">
		  <div class="centerT" id="centerT">
		    <div>
		      <a class="indexStart1" href="/trades"><span>订单管理</span></a>
		    </div>
		    <div>
		      <a class="indexStart2" href="3"><span>客服管理</span></a>
		    </div>
		    <div>
		      <a class="indexStart3" href="#"><span>数据魔方</span></a>
		    </div>
		    <div>
		      <a class="indexStart4" href="#"><span>仓库管理</span></a>
		    </div>
		    <div>
		      <a class="indexStart5" href="/sellers"><span>经销商管理</span></a>
		    </div>
		    <div>
		      <a class="indexStart6" href="#"><span>VIP</span></a>
		    </div>
		    <div>
		      <a class="indexStart7" href="#"><span>互动中心</span></a>
		    </div>
		    <div>
		      <a class="indexStart8" href="#"><span>商品管理</span></a>
		    </div>
		  </div>
		</div>
  </div>

	<script type="text/javascript">
	  function dashboardFadeIn() {
	        //var len=$('.centerT a').length;
	        //alert(len)
	        var $a = $('.centerT a');
	        var len = $a.length;

	        for( i = 0; i < len; i++) {
	          //var $class = $(".indexStart" + (i + 1));
	          $a.eq(i).delay(300 * i).fadeIn(300);
	        }
	      }

	      // function dashboardFadeOut() {
	      //   $('.centerT a').click(function(event) {
	      //     if(!$(this).hasClass('bAlert')) {
	      //       event.preventDefault()
	      //       var $href = $(this).attr('href')
	      //       //alert($href)
	      //       $('.indexWrap').fadeOut(300, function() {
	      //         window.location.href = $href
	      //       });
	      //     } else {
	      //       event.preventDefault()
	      //       //return false;
	      //     }
	      //   })
	      // }


	      $(document).ready(function(e) {
	        $('.centerT a').css('display', 'none')
	        dashboardFadeIn();
	        // dashboardFadeOut();

	      /*hover jump function*/

	      var $div = $('#centerT div');
	      $div.mouseenter(function(){
	        $(this).delay(1000).stop(true).animate({'top':'-20px'},10)
	        .animate({'top':'0'},100)
	        .animate({'top':'-15px'},100)
	        .animate({'top':'0'},200);
	      });

	    });
	</script>
</body>