<div class="row-fluid">
	<div class="indexWrap">
		<div class="centerDashboard hide">
			<div>
				<a class="indexStart1" href="/trades"><span>订单管理</span></a>
			</div>
			<div>
				<a class="indexStart2" href="#"><span>客服管理</span></a>
			</div>
			<div>
				<a class="indexStart3" href="#"><span>数据魔方</span></a>
			</div>
			<% if current_user.has_role?(:admin) || current_user.has_role?(:seller) %>
			<div>
				<a class="indexStart4" href="/stocks"><span>仓库管理</span></a>
			</div>
			<% end %>
			<div>
				<a class="indexStart5" href="/sellers"><span>经销商管理</span></a>
			</div>
			<div>
				<a class="indexStart6" href="#"><span>VIP</span></a>
			</div>
			<div>
				<a class="indexStart7" href="#"><span>互动中心</span></a>
			</div>
			<div>
				<a class="indexStart8" href="/products"><span>商品管理</span></a>
			</div>
		</div>
	</div>
</div>