<% content_for :tail do -%>
<script type="text/javascript">
  $(function() {
    MagicOrders.init();
    MagicOrders.role_key = "<%= current_user.roles.first.try(:name) %>";

  });
</script>
<% end -%>

<div class="row-fluid content" id="content">
  Loading...
</div>

<div id="trade_detail" class="modal fade hide"></div>
<div id="trade_seller" class="modal fade hide"></div>
<div id="trade_deliver" class="modal fade hide"></div>
<div id="trade_cs_memo" class="modal fade hide"></div>
<div id="trade_color" class="modal fade hide"></div>
<div id="trade_invoice" class="modal fade hide"></div>
<div id="trade_invoice_number" class="modal fade hide"></div>
<div id="trade_seller_confirm_deliver" class="modal fade hide"></div>
<div id="trade_seller_confirm_invoice" class="modal fade hide"></div>
<div id="trade_barcode" class="modal fade hide"></div>
<div id="trade_mark_unusual_state" class="modal fade hide"></div>
<div id="trade_confirm_color" class="modal fade hide"></div>
<div id="trade_confirm_check_goods" class="modal fade hide"></div>
<div id="seller_area" class="modal fade hide"></div>