<% content_for :tail do -%>
<script type="text/javascript">
  $(function() {
    MagicOrders.init();
    MagicOrders.role_key = "<%= current_user.roles.first.try(:name) %>";
    MagicOrders.company = "<%= TradeSetting.company %>"
    MagicOrders.logistics = new MagicOrders.Collections.Logistics();
    MagicOrders.logistics.reset(<%= raw @logistics.to_json %>);
  });
</script>
<% end -%>

<div class="row-fluid content" id="content">
  Loading...
</div>

<div id="trade_detail" class="modal fade hide" tabindex="-1" style="width: 890px; margin-left: -445px;"></div>
<div id="trade_seller" class="modal fade hide" tabindex="-1"></div>
<div id="trade_deliver" class="modal fade hide" tabindex="-1"></div>
<div id="trade_cs_memo" class="modal fade hide" tabindex="-1"></div>
<div id="trade_gift_memo" class="modal fade hide" tabindex="-1"></div>
<div id="trade_color" class="modal fade hide" tabindex="-1"></div>
<div id="trade_color_info" class="modal fade hide" tabindex="-1" style="width: 890px; margin-left: -445px;"></div>
<div id="trade_invoice" class="modal fade hide" tabindex="-1"></div>
<div id="trade_invoice_number" class="modal fade hide" tabindex="-1"></div>
<div id="trade_seller_confirm_deliver" class="modal fade hide" tabindex="-1"></div>
<div id="trade_seller_confirm_invoice" class="modal fade hide" tabindex="-1"></div>
<div id="trade_barcode" class="modal fade hide" tabindex="-1"></div>
<div id="trade_mark_unusual_state" class="modal fade hide" tabindex="-1"></div>
<div id="trade_confirm_color" class="modal fade hide" tabindex="-1"></div>
<div id="trade_confirm_check_goods" class="modal fade hide" tabindex="-1"></div>
<div id="trade_operation_log" class="modal fade hide" tabindex="-1"></div>
<div id="trade_print_deliver_bill" class="modal fade hide" tabindex="-1" style="width: 890px; margin-left: -445px;"></div>
<div id="trade_confirm_receive" class="modal fade hide" tabindex="-1"></div>
<div id="trade_logistic_memo" class="modal fade hide" tabindex="-1"></div>
<div id="trade_logistic_waybill" class="modal fade hide" tabindex="-1"></div>
<div id="trade_request_return" class="modal fade hide" tabindex="-1"></div>
<div id="trade_confirm_return" class="modal fade hide" tabindex="-1"></div>
<div id="trade_confirm_refund" class="modal fade hide" tabindex="-1"></div>
<div id="trade_splited" class="modal fade hide" tabindex="-1" style="width: 890px; margin-left: -445px;"></div>
<div id="trade_print_logistic_bill" class="modal fade hide" tabindex="-1" style="width: 600px;"></div>
<div id="trade_setup_logistic" class="modal fade hide" tabindex="-1"></div>
<div id="seller_area" class="modal fade hide" tabindex="-1"></div>
<div id="trade_recover" class="modal fade hide" tabindex="-1"></div>
<div id="print_delivers" class="modal fade hide" tabindex="-1" style="width: 890px;margin-left: -445px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>批量打印</h3>
  </div><!-- modal-header -->
  <div class="modal-body">
    <p>此次共需要打印<b class='deliver_count'></b>单，<span class='notice'></span>请确认是否更改再点击“打印”</p>
    <fieldset>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>地址</th>
          </tr>
        </thead>
        <tbody id='print_delivers_tbody'>
        </tbody>
      </table>
    </fieldset>
  </div><!-- modal-body -->

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" style='margin-top:-22px;'>取消</a>
    <div id='showbox'></div>
    <select id="logistic_select" class="input-medium nomargin pull-left"></select>
  </div>
</div>
