<% content_for :tail do -%>
<script type="text/javascript">
  $(function() {
    MagicOrders.init();
  });
</script>
<% end -%>

<div class="row-fluid content" id="content">
  Loading...
</div>

<div id="trade_detail" class="modal fade hide"></div>
<div id="trade_seller" class="modal fade hide"></div>
<div id="trade_deliver" class="modal fade hide"></div>
<div id="trade_cs_memo" class="modal fade hide"></div>