<%- model_class = Sku -%>

<div class="container-fluid">

  <ul class="nav nav-tabs affix">
    <li class="active"><a href="/products">本地单品</a></li>
    <li><a href="/products/taobao_products">淘宝商品</a></li>
    <!-- <li><a href="#set_good" data-toggle="tab">套装</a></li>
    <li><a href="#active_goods" data-toggle="tab">活动商品</a></li> -->
  </ul><!-- nav-tabs -->

  <div class="" style="margin-top:50px;">
     <%=link_to @product.name, @product%> / <%=link_to "SKUs", [@product, :skus]%> / <%=@sku.title%> / 编辑
  </div>

    <%= render :partial => 'form' %>

</div>