<ul class="nav nav-tabs">
  <% CustomersController::ALL_ACTIONS.each do |action,name| %>
  <li class="<%= params[:action].eql?(action.to_s) ? "active" : "" %>">
    <a href="/customers/<%= action.to_s.gsub(/index/,'') %>"><%= name %></a>
  </li>
  <% end %>
</ul>