<div class="portlet solid light-grey">
  <div class="portlet-title">
    <div class="caption"><i class="icon-bar-chart"></i>销售分析</div>
    <div class="tools">
      <div class="pull-right">
        <a href="/sales/summary" class="btn mini">查看详情</a>
      </div>
    </div>
  </div>
  <div class="portlet-body">
    <div id="sale_analysis_block_loading">
      <img src="/assets/overview/loading.gif" alt="loading" />
    </div>
    <div id="sale_analysis_block_content" class="hide">
      <div id="sale_analysis_block" class="chart"></div>
    </div>
  </div>
</div>