<div class="span3">
  <div class="dashboard-stat blue">
    <div class="visual">
      <i class="icon-gift"></i>
    </div>
    <div class="details">
      <div class="number"><%= pages_cache["new_hot_product"] %></div>
      <div class="desc">今日热卖商品</div>
    </div>
    <a class="more" href="/sales/product_analysis">
      查看商品数据统计<i class="m-icon-swapright icon-circle-arrow-right"></i>
    </a>
  </div>
</div>