<div class="span3 responsive" data-tablet="span6  fix-offset" data-desktop="span3">
  <div class="dashboard-stat purple">
    <div class="visual">
      <i class="icon-globe"></i>
    </div>
    <div class="details">
      <div class="number"><%= Rails.cache.read("new_top_one_district") %></div>
      <div class="desc">今日买家集中省份TOP1</div>
    </div>
    <a class="more" href="/sales/area_analysis">
      查看买家地域统计<i class="m-icon-swapright icon-circle-arrow-right"></i>
    </a>
  </div>
</div>