<%
  breadcrumb << ["系统设置", users_path]
  breadcrumb << ["基础数据管理", "#"]
  breadcrumb << ["默认首页设置"]
%>
<div class="row-fluid">
  <div class="span10 w100">
    <ul class="nav nav-tabs">
      <li class="active"><a href="/page">默认首页设置</a></li>
    </ul><!-- nav-tabs -->
    <div class="tab-content">
      <%= form_tag page_path, :method => :put, :class => "form-horizontal" do %>
      <fieldset class="mar_l80"><!-- 默认首页设置 beginning -->
         <h4>默认首页设置:</h4>
         <div class="mar_l80">
           <div class="control-group">
               <% {:default => "图标首页",:overview => "概况首页"}.each do |key,name| %>
                 <%= label_tag nil,class: "radio pull-left input-small" do %>
                   <%= name %><%= radio_button_tag :templete,key,@default_login_template.to_s == key.to_s %>
                 <% end %>
               <% end %>
           </div>
         </div>
       </fieldset>
       <div class="pagination-centered mar_t30">
         <button class="btn btn-primary" type="submit">保存</button>
       </div>
      <% end %>
    </div>
  </div>
</div>
</div>