---
:verbose: false
:concurrency: 25

# differs in every deploy stage.
:namespace: magictest_pro

:queues:
  - [reporter, 3]
  - [auto_process, 3]
  - [taobao_memo_fetcher, 3]
  - [taobao_promotion_fetcher, 3]
  # - [sms, 3]
  # - [email, 3]
  # - [taobao, 3]
  # - [taobao_purchase, 3]
  # - [jingdong, 3]
  # - [trade_manual_notify, 3]
  # - [wangwang_data_reprocess, 3]