<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner"></div>
  </div>
  <div class="container-fluid clearfix">
    <div class="tabs-left">
      <ul class="nav nav-tabs js-nav_tabs">
        <li class="active"><a href="#start" data-toggle="tab">一键开始</a></li>
      </ul><!-- nav-tabs end -->
      <div class="tab-content">
        <div class="tab-pane active" id="start">
          <ul class="nav nav-tabs js-nav_tabs">
            <li class="active"><a href="#set_admin" data-toggle="tab">管理员设置</a></li>
            <li><a href="#autoset" data-toggle="tab">数据自动设置</a></li>
            <li><a href="#autobusiness" data-toggle="tab">自动化业务设置</a></li>
            <li><a href="#set_login_user" data-toggle="tab">设置系统登录用户</a></li>
          </ul><!-- nav-tabs -->

          <div class="tab-content">
            <div class="tab-pane active" id="set_admin">
              <form action="/taobao_app_tokens/create_admin" class="form-horizontal" data-remote="true">
                  <fieldset>
                    <div class="controls form-inline">
                      <p>请设置管理员账户和密码</p>
                      <p>再次登录系统，请直接输入你的邮箱或手机号和密码即可</p>
                      <p>
                        <label class="input-large">请输入管理员的登录邮箱：</label>
                        <input type="text" class="input-large" name="email" placeholder="example@doorder.com">
                      </p>
                      <p>
                        <label class="input-large">请输入管理员的联系手机号码：</label>
                        <input type="text" class="input-large" name="phone" placeholder="134456845125">
                      </p>
                      <button type="submit" class="btn">下一步</button>
                    </div>
                  </fieldset><!-- end -->
              </form>
            </div><!-- set_admin end -->
            
            <div class="tab-pane" id="autoset">
              <form action="/taobao_app_tokens/rolling_scrollbars" data-remote="true">
                <fieldset>
                  <label class="input-large">正在抓取淘宝订单：</label>
                  <div class="progress progress-info progress-striped active">
                    <div class="bar" style="width: 20%;"></div>
                  </div>
                  <label class="input-large">正在配置商品分类：</label>
                  <div class="progress progress-info progress-striped active">
                    <div class="bar" style="width: 20%;"></div>
                  </div>
                  <label class="input-large">正在导入店铺商品：</label>
                  <div class="progress progress-success progress-striped active">
                    <div class="bar" style="width: 40%;"></div>
                  </div>
                  <label class="input-large">正在导入店铺库存：</label>
                  <div class="progress progress-warning progress-striped active">
                    <div class="bar" style="width: 60%;"></div>
                  </div>
                  <label class="input-large">正在配置物流信息：</label>
                  <div class="progress progress-danger progress-striped active">
                    <div class="bar" style="width: 80%;"></div>
                  </div>
                  <p>
                    <button class="btn">下一步</button>
                    <button class="btn">自定义配置</button>
                  </p>
                  <div class="control-group">
                    <button class="btn">设置</button>
                    <p class="span6 nomargin">若你需要对店铺进行其他设置，请进入店铺基础设置调整</p>
                  </div>
                  <div class="control-group">
                    <button class="btn">设置</button>
                    <p class="span6 nomargin">若你需要对商品分类进行其他设置，请进入商品基础设置调整</p>
                  </div>
                  <div class="control-group">
                    <button class="btn">设置</button>
                    <p class="span6 nomargin">若你需要对仓库信息进行其他设置，请进入仓库基础设置调整</p>
                  </div>
                  <div class="control-group">
                    <button class="btn">设置</button>
                    <p class="span6 nomargin">若你需要对物流信息进行其他设置，请进入物流基础设置调整</p>
                  </div>
                </fieldset><!-- end -->
              </form>
            </div><!-- autoset end -->

            <div class="tab-pane" id="autobusiness">
              <form action="/taobao_app_tokens/auto_settings" data-remote="true">
                <p>请选择您的自动化业务设置：</p>
                <fieldset>
                  <label>自动发货</label>
                  <div class="control-group">
                    <label class="radio pull-left">
                      <input type="radio" name="autodispatch" value="1">是
                    </label>
                    <div class="controls">
                      <p class="muted">当订单在打印物流面单的同时，就同步将物流面单的参数返回淘宝</p>
                      <p class="text-error">注意：若有订单是物流信息出错的，淘宝发货状态将失败</p>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="radio pull-left">
                      <input type="radio" checked name="autodispatch" value="0">否
                    </label>
                    <div class="controls">
                      <p class="muted">需要点击发货的按钮，订单才会自动发货</p>
                    </div>
                  </div>
                </fieldset><!-- end -->
                <fieldset>
                  <label>自动审单</label>
                  <div class="control-group">
                    <label class="radio pull-left">
                      <input type="radio" name="autocheck" value="1">是
                    </label>
                    <div class="controls">
                      <p class="muted">当订单已付款没有客户备注，客服备注，并且库存充足无需要拆单，知道审单通过</p>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="radio pull-left">
                      <input type="radio" checked name="autocheck" value="0">否
                    </label>
                    <div class="controls">
                      <p class="muted">需要客服在系统内操作按钮“审单”，订单状态才会改为已审单</p>
                    </div>
                  </div>
                </fieldset><!-- end -->
                <fieldset>
                  <label>自动分派</label>
                  <div class="control-group">
                    <label class="radio pull-left">
                      <input type="radio" name="autodistribution" value="1">是
                    </label>
                    <div class="controls">
                      <p class="muted">当审单通过的订单，自动分派到仓库</p>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="radio pull-left">
                      <input type="radio" checked name="autodistribution" value="0">否
                    </label>
                    <div class="controls">
                      <p class="muted">需要客服在系统内操作按钮“分派”。订单分到仓库</p>
                    </div>
                  </div>
                </fieldset><!-- end -->
                <button type="submit" class="btn">下一步</button>
              </form>
            </div><!-- autobusiness end -->

            <div class="tab-pane" id="set_login_user">
              <form action="/taobao_app_tokens/create_roles">
                <fieldset class="clearfix">
                  <p>请选择您需要的角色权限：</p>
                  <div class="span5">
                    <label>客服</label>
                    <!-- <input type="text" placeholder="请输入您的登录邮箱"> -->
                    <!-- <select id="multmail"></select> -->
                    <input type="hidden" class="multmail cs" placeholder="请输入您的登录邮箱或手机密码">
                  </div>
                  <div class="span5">
                    <label>仓库</label>
                    <input type="hidden" class="multmail stock_admin" placeholder="请输入您的登录邮箱或手机密码">
                  </div>
                  <div class="span5">
                    <label>发货专员</label>
                    <input type="hidden" class="multmail inter_face" placeholder="请输入您的登录邮箱或手机密码">
                  </div>
                </fieldset>
                <div class="well well-small">
                  <p>系统将发送设置密码邮件到您输入的邮箱，请确保输入无误</p>
                  <p>系统将初始密码发送到您的手机，请确保手机号码正确</p>
                </div>
                <button type="submit" class="btn magic_done">完成</button>
              </form>
            </div><!-- set_login_user end -->

          </div><!-- tab-content end -->
        </div>
      </div><!-- tab-content end -->
    </div>
    <footer><p></p></footer>
  </div>
</body>
<% content_for :tail do %>
<script type="text/javascript">
  $('.magic_done').click(function(argument) {
     var cs = $('.cs').select2("val")
     var stock_admin = $('.stock_admin').select2("val")
     var inter_face = $('.inter_face').select2("val")
     $.get("/taobao_app_tokens/create_roles", {cs:cs, stock_admin:stock_admin, inter_face:inter_face}, function(result){
     });
   })
</script>
<% end %>

