
<form action='/taobao_app_tokens' method="post">
    <input type='hidden' name='user' value='bianbian415'>
    <button type=submit>bianbian415</button>
</form>

<form action='/taobao_app_tokens' method="post">
    <input type='hidden' name='user' value='xiaoliuchun'>
    <button type=submit>xiaoliuchun</button>
</form>

