<h1>Listing jingdong_products</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jingdong_products.each do |jingdong_product| %>
  <tr>
    <td><%= link_to 'Show', jingdong_product %></td>
    <td><%= link_to 'Edit', edit_jingdong_product_path(jingdong_product) %></td>
    <td><%= link_to 'Destroy', jingdong_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Jingdong product', new_jingdong_product_path %>
