<% content_for :sub_nav do %>
  <ul class="nav nav-tabs js-nav_tabs">
    <li class="active"><a href="/jingdong_products/sync" data-toggle="tab">同步京东商品</a></li>
  </ul><!-- nav-tabs -->
<% end %>
<div class="container-fluid">
  <%= render "products" %>
  <%= render "skus" %>
  <button type="button" class="btn btn-success"><%= link_to "确认同步", syncing_jingdong_products_path,:method => :put %></button>
  <%= link_to "取消",jingdong_products_path,:class => "btn btn-info" %>
</div>