<div class="container-fluid">
    <header class="jumbotron subhead" id="overview">
      <div class="subnav">
        <ul class="nav nav-pills">
          <li class="active"><%= link_to @seller.try(:name), seller_stocks_path(@seller) %></li>
          <!-- <li><a href="/stock_history">进销记录</a></li> -->
        </ul>
      </div>
    </header>
    <div class="row-fluid">
      <ul class="breadcrumb" style="position:relative;">
        <li><a href="/stocks">仓库管理</a><span class="divider">/</span></li>
        <li><%= link_to @seller.try(:name), seller_stocks_path(@seller) %><span class="divider">/</span></li>
        <li class="active">编辑商品</li>
      </ul><!-- breadcrumb -->

    	<%= render 'form' %>
    </div>
  </div>


<% content_for :tail do -%>
<script type="text/javascript">
  $(function () {
    $('#category option').click(function(){
      fetch_products();
    });
    $('#feature option').click(function(){
      fetch_products();
    });
  });


  function fetch_products(){
    var category = 0
    var feature = 0
    var a = $('#category').val()
    var b = $('#feature').val()
    if(a != null){
      category = a[0]
    }

    if (b != null) {
      feature = b[0]
    }
    
    $.get('/products/fetch_products', {feature_id: feature, category_id: category});
  }
</script>
<% end %>