<div class="container-fluid">
    <header class="jumbotron subhead" id="overview">
      <div class="subnav">
        <ul class="nav nav-pills">
          <li class="active"><%= link_to '仓库管理', seller_stocks_path %></li>
          <li><a href="stocks_records.html">进销记录</a></li>
        </ul>
      </div>
    </header>
    <div class="row-fluid">
      <ul class="breadcrumb" style="position:relative;">
        <li><%= link_to '仓库管理', seller_stocks_path %><span class="divider">/</span></li>
        <li class="active">新增商品</li>
      </ul><!-- breadcrumb -->

    	<%= render 'form' %>
    </div>
  </div>

