<div class="container-fluid">
    <header class="jumbotron subhead" id="overview">
      <div class="subnav">
        <ul class="nav nav-pills">
          <li class="active"><%= link_to '成品仓库', seller_stocks_path(params[:seller_id]) %></li>
        </ul>
      </div>
    </header>
    <div class="row-fluid">
      <ul class="breadcrumb" style="position:relative;">
        <li><%= link_to '仓库管理', seller_stocks_path(params[:seller_id]) %><span class="divider">/</span></li>
        <li><%= link_to '成品仓库', seller_stocks_path(params[:seller_id]) %><span class="divider">/</span></li>
        <li class="active">新增商品</li>
      </ul><!-- breadcrumb -->

    	<%= render 'form' %>
    </div>
  </div>

<% content_for :tail do -%>
<script type="text/javascript">
  $(function () {
    $('#category option').click(function(){
      fetch_products();
    });
    $('#feature option').click(function(){
      fetch_products();
    });
  });


  function fetch_products(){
    var category = 0
    var feature = 0
    var a = $('#category').val()
    var b = $('#feature').val()
    if(a != null){
      category = a[0]
    }

    if (b != null) {
      feature = b[0]
    }
    
    $.get('/products/fetch_products', {feature_id: feature, category_id: category});
  }
</script>
<% end %>

