/*boostrap rebuild*/
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{padding:2px 6px;}
select{height:26px;line-height:26px;}
.tab-content{overflow: visible;}
/*magic copy*/
body {
  padding-top:45px;
  position: relative;
  background-color: #fff;
}
code{color: #08C;}

.search_tags_group{margin-top:3px;}
.search_tags_group label {display: block; float: left; /*border: 1px solid #fff;*/ background: #FAFAFA; padding: 2px 5px; font-size:12px;color:#555;
  -webkit-border-radius: 4px 0 0 4px!important;
  -moz-border-radius: 4px 0 0 4px!important;
  border-radius: 4px 0 0 4px!important;
  border-right:0!important;
}
.search_tags_group .search_tag{margin:0 5px 5px 0;}
.search_tags_group .search_tag button {float:left; padding: 4px 8px 8px;*padding: 2px 8px 6px; cursor: pointer; line-height: 12px; border: 0; /*color: #525252;*/ margin-left: -1px;
 -webkit-border-radius: 0 4px 4px 0!important;
  -moz-border-radius: 0 4px 4px 0!important;
  border-radius: 0 4px 4px 0!important;
}
#simple_search_button{padding:2px 8px;}

.none{display:none;}
.nomargin{margin:0!important;}
.mt5{margin-top:5px!important;}
.ml210{margin-left:210px!important;}
/*nav*/
.navbar .brand{padding:0;}

/*form*/
.form-horizontal .controls.pull-left{margin:0 5px;height:26px;}
/*.form-horizontal input.datepickers,.form-horizontal input.timepickers{vertical-align:top;}*/
.form-horizontal{position:relative;}
.form-horizontal.affix{position:fixed;}
.form-horizontal .control-group{margin-bottom:5px;}
.open_advance{position:absolute;right:20px;top:85px;}
#all_orders .open_advance{top:133px;}
#main-top .affix {background-color: white;box-shadow: #666 0px 2px 10px;}
.affix .open_advance{right:40px;}
.icon-arrow-up{background-position: -289px -96px!important;}

/*.radius_no_tl{border-radius:0 4px 4px 0!important;}
.radius_no_rb{border-radius:4px 0 0 4px!important;border-right:0!important;}
.radius_no{border-radius:0!important;border-width:1px 0!important;}*/
/*all orders*/
.affix .nav-tabs,.nav-tabs.subnav{background:#e1e1e1;z-index:999;padding-top:3px;padding-left:25px;}
.nav-tabs.affix + .tab-content{margin-top:40px;}
.nav-tabs > li > a{padding:3px 15px;color:#000;font-size:12px;}
.affix{width:100%;top:41px;left:0;right:0;}
#all_orders{margin-top:185px;}
.search-expand #all_orders{margin-top:550px;}
#all_orders .affix{top:72px;z-index:3;width:auto;margin:0 18px;border-radius:0 0 3px 3px;}
#all_orders .btn-toolbar .dropdown-menu a.disabled {
  color: #ddd;
}
#all_orders .btn-toolbar.affix{top:153px;z-index:3;background:#fff;/*-webkit-box-shadow: 2px 2px 3px #ddd;*/padding:10px;border:1px solid #e3e3e3;}
#all_orders .btn-toolbar.toggle_affixtop.affix{top:277px;}
.js-table tr .btn-group{display:none;}
.js-table tr .btn{padding:0 6px;}
/*storage*/
.form-horizontal .controls.search_tags_group, .form-horizontal .controls.item_group{margin-left:51px;}
.search_tag label,.search_tag button{background:#2F96B4 -webkit-linear-gradient(top, #5BC0DE, #2F96B4);color:#fff;}
.whiteSmoke_bg{background:whiteSmoke;}
.font12 *{font-size:12px!important;}
.span10 > ul,.add_order > ul{margin-bottom:0;}
.span10 > ul + .tab-content,.add_order > ul + .tab-content,.tab-content .tab-content{padding:20px 20px;background:#fff;border:1px solid #DDD;border-width:0 1px 1px;border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;
-moz-border-radius:0 0 4px 4px;-webkit-box-shadow: 2px 2px 3px #ddd}
  /*stock out*/
.container-fluid > .row-fluid{margin-top:10px;}
.form-horizontal .span6 .control-label{width:70px;text-align:left;}
.add_order .form-horizontal .control-label{width:100px;text-align:left;}
.input-medium.select2{width:164px!important;}
.input-small.select2{width:104px!important;}

/* Sidenav for Docs
-------------------------------------------------- */
.bs-docs-sidenav {
  /*width: 228px;*/
  margin: 40px 0 0 20px;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 5px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 5px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 15px;
  left:20px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
/* Sidenav for Docs ends
-------------------------------------------------- */

/*settings*/
#autobusiness .control-group{margin-left:60px;}
#autobusiness .controls{margin-left:80px;}
/*autoset setting_auto.html*/
.nav .collapse{border: 1px solid #E5E5E5;border-width:0 1px;margin-left: 0px;padding-left: 26px;list-style: none;}
.nav .collapse li{line-height:14px;padding:5px 0;}
/*.nav .collapse li.active{list-style:circle;margin-left:15px;}*/
.nav .collapse li.active{margin-left:15px;}
.nav .collapse li a{text-decoration:none;}
.timeEntry_control{border-radius:0 4px 4px 0;}
.noborder td,.noborder th{border:0!important;}
.mar_l80{margin-left:80px;}
#auto_settings_button{padding: 6px 24px;font-size: 15px;}

/*search*/
@media (max-width: 1280px) {
  .input-large.radius_no_tl{width:185px;}
}
@media (max-width: 1024px) {
    .form-horizontal .control-group > .controls.pull-left{margin-bottom:5px;}
    #all_orders .btn-toolbar.affix{top:184px;}
    #all_orders .btn-toolbar.toggle_affixtop.affix{top:328px;}
    #all_orders .open_advance{top:174px;}
    code{color:#08C!important;}
    .input-large.radius_no_tl{width:210px;}
}

/*icon*/
[class^="icon-flag_"],
[class*=" icon-flag_"] {
  background-image:url(/assets/flags.jpg);
  width:27px;height:30px;
}
.icon-flag_red{background-position:0 0;}
.icon-flag_purple{background-position:-40px 0;}

/*gifts*/
.mar_b15{margin-bottom:15px;}

/*modal*/
.modal_w7{width:760px;margin-left:-380px;}
.modal_w7 textarea{width:98%;}
.form-horizontal .add_seller_css label{width: 170px}
.third_menu{border:0!important;position:relative;top:5px;}

/*label-background-color*/
.label.label-darkorchid{background-color:#68228B;}
.label.label-lightblue{background-color:#68838B;}
.label.label-skyblue{background-color:#3299CC;}

.thumbnails li{
  height: 200px;
}
.thumbnails a.thumbnail{
  height: 160px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;

}
.thumbnails div img{
  max-height: 200px;
  vertical-align: middle;
}
