<%
  breadcrumb << ["系统设置", users_path]
  breadcrumb << ["基础数据管理", stocks_safe_stock_path]
  breadcrumb << ["商品设置", categories_path]
  breadcrumb << ["商品类别管理", categories_path]
  breadcrumb << ["编辑商品类别"]
%>
<div class="row-fluid">
  <div class="span10 w100">
    <ul class="nav nav-tabs">
      <li class="active"><a href="/categories">分类管理</a></li>
      <li><a href="/category_properties">属性管理</a></li>
    </ul><!-- nav-tabs -->
    <div class="tab-content">
      <%= render 'form' %>
    </div>
  </div>
</div> 