<ul class="nav nav-tabs">
  <% {"本地商品" => products_path, "淘宝商品" => taobao_products_products_path,"京东商品" => jingdong_products_path}.each_pair do |name,url| %>
  <li class="<%= current_page?(url) ? "active" : '' %>"><%= link_to_authorize name,url %></li>
  <% end %>
</ul><!-- nav-tabs -->