<div class="tab-content noborder_content">
  <table class="table table-hover table-bordered table-striped table-condensed js-table">
    <thead>
          <th width="5%"><input type="checkbox" onclick="$(this).parents().find(':checkbox').prop('checked',$(this).prop('checked'))"></th>
      <th>编号</th>
      <th>属性</th>
    </thead>
    <tbody>
      <% skus.each do |sku| %>
      <tr>
        <td><input type="checkbox" name="sku_ids[]" value="<%= sku.id %>"></td>
        <td><%= sku.id %></td>
        <th><%= sku.value  %></th>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>