<% content_for :sub_nav do %>
  <%= render partial: "products/sidebar" %>
<% end %>
<div class="row-fluid">
  <div class="span10 w100">
    <div class="">
      <div class="tab-pane active" id="stock_check">
        <%= form_tag "/products/import_csv", :multipart => true, :method => :post do %>
          <div class="btn-toolbar">
            <div class="btn-group">
              <%= file_field_tag "file" %>
              <%= submit_tag "提交", :class => 'btn' %>
            </div>
          </div>
        <% end %>
        <span>*注意: 只接受CSV格式的文件（可以先导出本地商品报表，按照格式修改后再次导入）</span>
      </div>
  </div>
</div>
