<% content_for :sub_nav do %>
  <ul class="nav nav-tabs js-nav_tabs">
    <li class="active"><a href="/products/new" data-toggle="tab">新增商品</a></li>
  </ul><!-- nav-tabs -->
<% end %>
<%= render 'form' %>