<% content_for :sub_nav do %>
<ul class="nav nav-tabs js-nav_tabs">
  <li class="<%= params[:type] == "TaobaoProduct" ? 'active' : '' %>"><a href="/products/taobao_sync_versions?type=TaobaoProduct">淘宝商品</a></li>
  <li class="<%= params[:type] == "TaobaoSku"     ? 'active' : '' %>"><a href="/products/taobao_sync_versions?type=TaobaoSku">淘宝商品SKU</a></li>
</ul><!-- nav-tabs -->
<% end %>
<% if params[:type] == "TaobaoProduct" %>
  <%= render 'taobao_products' %>
<% elsif params[:type] == 'TaobaoSku' %>
  <%= render "taobao_skus" %>
<% end %>