<header class="jumbotron subhead" id="overview">
  <div class="subnav">
    <ul class="nav nav-pills">       
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          销售分析
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/sales/product_analysis">热销产品分析</a></li>
          <li><a href="/sales/show">实时销售</a></li>
          <!-- <li><a href="magic_2_5_2.html">买家购买分析</a></li>
          <li><a href="magic_2_5_3.html">促销手段分析</a></li> -->
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
          买家分析
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/sales/area_analysis">买家地域分析</a></li>
          <li><a href="/sales/time_analysis">购买时段分析</a></li>
          <li><a href="/sales/customer_analysis">性别年龄分析</a></li>
          <!--<li><a href="magic_2_1.html">商品标价分析</a></li>
          <li><a href="magic_2_1_2.html">客单价分析</a></li>
          <li><a href="magic_2_1_3.html">购买频次分析</a></li>
          <li><a href="magic_2_1_5.html">买家信用分析</a></li>
          <li><a href="magic_2_1_6.html">来访时段分析</a></li> -->
        </ul>
      </li>
    </ul>
  </div>
</header>