<%- if controller_name == 'sales' %>
<%- if action_name == 'product_analysis'%>
<form action="/sales/product_analysis" class="well form-search">
<%- elsif action_name == 'area_analysis'%>
<form action="/sales/area_analysis" class="well form-search">
<%- elsif action_name == 'time_analysis'%>
<form action="/sales/time_analysis" class="well form-search">
<%- elsif action_name == 'price_analysis'%>
<form action="/sales/price_analysis" class="well form-search">
<%- elsif action_name == 'frequency_analysis'%>
<form action="/sales/frequency_analysis" class="well form-search">
<%- elsif action_name == 'univalent_analysis'%>
<form action="/sales/univalent_analysis" class="well form-search">
<%- else %>
<form class="well form-search">
<%- end %>
  <form ation="/trades_reports" class="well form-horizontal">
        <div class="control-group nomargin">
          <label class="control-label" for="">生成时间：</label>
          <div class="controls clearfix">
            <fieldset class="pull-left form-inline mar_r10">
                <input type="text" class="input-small datepickers" name="start_date" value="<%= @start_date %>">
                <input type="text" class="input-mini timepickers" name="start_time" value="<%= @start_time %> ">
                <i class="icon-arrow-right"></i>
                <input type="text" class="input-small datepickers"  name="end_date" value="<%= @end_date %>">
                <input type="text" class="input-mini timepickers" name="end_time" value="<%= @end_time %>">
            </fieldset>
              <button type="submit" class="btn btn-info">过滤</button>
          </div>         
        </div>
  </form>  

</form>
<%- end %>
