<%- if controller_name == 'sales' %>
  <%- action_url =  case action_name
                    when 'product_analysis'
                      "/sales/product_analysis"
                    when 'area_analysis'
                      "/sales/area_analysis"
                    when 'time_analysis'
                      "/sales/time_analysis"
                    when 'price_analysis'
                      "/sales/price_analysis"
                    when 'frequency_analysis'
                      "/sales/frequency_analysis"
                    when 'univalent_analysis'
                      "/sales/univalent_analysis"
                    when 'summary'
                      "/sales/summary"
                    end
  -%>
  <form  ation="<%= action_url %>" class="well form-horizontal">
    <div class="control-group nomargin">
      <label class="control-label" for="">生成时间：</label>
      <div class="controls clearfix">
        <fieldset class="pull-left form-inline mar_r10">
            <input type="text" class="input-medium datetimepicker_full start_time" name="start_time" value="<%= @start_time.strftime("%Y-%m-%d %H:%M:%S") %>">
            <i class="icon-arrow-right"></i>
            <input type="text" class="input-medium datetimepicker_full end_time"  name="end_time" value="<%= @end_time.strftime("%Y-%m-%d %H:%M:%S") %>">
        </fieldset>
          <button type="submit" class="btn btn-info">过滤</button>
      </div>
    </div>
  </form>
<%- end -%>
