<div class="row-fluid">
  <ul class="breadcrumb" style="position:relative;">
    <li><a href="#">Magic</a><span class="divider">/</span></li>
    <li><a href="#">数据魔方</a><span class="divider">/</span></li>
    <li><a href="/sales/show">实时销售</a><span class="divider">/</span></li>
    <li class="active">设定</li>
  </ul><!-- breadcrumb -->
  
  <%= render 'form' %>
</div>