<div class="container-fluid">
  
  <%= render 'header' %>

  <div class="row-fluid">
    <ul class="breadcrumb" style="position:relative;">
      <li><a href="/">Magic</a><span class="divider">/</span></li>
      <li><a href="/trade_reports">数据魔方</a><span class="divider">/</span></li>
      <li><a href="＃">买家分析</a><span class="divider">/</span></li>
      <li class="active">购买时段分析</li>
    </ul><!-- breadcrumb -->

    <%= render 'select_time' %>

    <div class="controls clearfix">
      <div class="btns btn-group pull-left">
        <a href="#" class="btn btn-warning"><!-- <i class="icon-user icon-white"></i> -->导出数据</a>
        <!-- <button href="#" data-toggle="dropdown" class="btn dropdown-toggle btn-warning btn_left4"><span class="caret"></span></button> -->
        <!-- <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li class="divider"></li>
          <li><a href="login.html">Sign Out</a></li>
        </ul> -->
      </div>
    </div>

    <div class="mar_t10">
      <ul class="nav nav-tabs reset_border nomargin" id="myTab_sub">
        <li class="active"><a href="#tab2" data-toggle="tab">数据概况</a></li>
      </ul>
      <div class="tab-content reset_border">
        <div class="tab-pane active chart_opts" id="tab1">
          <ul class="clearfix aug_data_tops nomargin">
            <li class="span2 noborder">
              <div>
                <a href="#" class="pull-right"><!--<img src="/assets/aug_details.jpg">--></a>高峰成交时段TOP1
              </div>
              <big><strong>22:00-23:00</strong></big>
            </li>
          </ul>
        </div>
       </div>
    </div>

    <div class="mar_t10">
      <ul class="nav nav-tabs reset_border nomargin" id="myTab_sub">
        <li class="active"><a href="#tab2" data-toggle="tab">数据图</a></li>
      </ul>
      <div class="tab-content reset_border padding_t20">
        <div class="tab-pane active chart_opts" id="tab1">
          <div id="chartdiv" style="width: 100%; height: 400px;"></div>
        </div>
      </div>
    </div>

    <div class="mar_t10">
      <ul class="nav nav-tabs reset_border nomargin" id="myTab_sub">
        <li class="active"><a href="#tab1" data-toggle="tab">数据报表</a></li>
      </ul>
      <div class="tab-content reset_border padding_t20">
        <div class="tab-pane active chart_opts" id="tab1">
          <table class="table table-striped table-bordered table-condensed td_colors mar_t">
            <thead>
              <tr>
                <th>序号</th>
                <th>小时段</th>
                <th>总成交金额占比</th>
                <th>总成交人数</th>
                <th>日平均成交人数</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>22:00 - 23:00</td>
                <td>8.50%</td>
                <td>51,556</td>
                <td>7,356</td>
              </tr>
            </tbody> 
          </table>
        </div>
       </div>
    </div>

  </div>
</div>

<% content_for :tail do -%>
<script type="text/javascript">
var chart;

var chartData = [{
  priceLevels: "00-01",
  visits: 2,
  color: "#0088cc"
}, {
  priceLevels: "01-02",
  visits: 5,
  color: "#0088cc"
}, {
  priceLevels: "02-03",
  visits: 8,
  color: "#0088cc"
}, {
  priceLevels: "03-04",
  visits: 12,
  color: "#0088cc"
}, {
  priceLevels: "04-05",
  visits: 25,
  color: "#0088cc"
}, {
  priceLevels: "05-06",
  visits: 20,
  color: "#0088cc"
}, {
  priceLevels: "07-08",
  visits: 10,
  color: "#0088cc"
}, {
  priceLevels: "08-09",
  visits: 6,
  color: "#0088cc"
}, {
  priceLevels: "09-10",
  visits: 6,
  color: "#0088cc"
}, {
  priceLevels: "10-11",
  visits: 6,
  color: "#0088cc"
}, {
  priceLevels: "11-12",
  visits: 6,
  color: "#0088cc"
}, {
  priceLevels: "12-13",
  visits: 6,
  color: "#0088cc"
}, {
  priceLevels: "13-14",
  visits: 6,
  color: "#0088cc"
}, {
  priceLevels: "14-15",
  visits: 6,
  color: "#0088cc"
}, {
  priceLevels: "15-16",
  visits: 6,
  color: "#0088cc"
}, {
  priceLevels: "16-17",
  visits: 6,
  color: "#0088cc"
}, {
  priceLevels: "17-18",
  visits: 6,
  color: "#0088cc"
}, {
  priceLevels: "18-19",
  visits: 6,
  color: "#0088cc"
}, {
  priceLevels: "19-20",
  visits: 6,
  color: "#0088cc"
}, {
  priceLevels: "20-21",
  visits: 6,
  color: "#0088cc"
}, {
  priceLevels: "21-22",
  visits: 6,
  color: "#0088cc"
}, {
  priceLevels: "22-23",
  visits: 6,
  color: "#0088cc"
}, {
  priceLevels: "23-24",
  visits: 6,
  color: "#0088cc"
}];


AmCharts.ready(function () {
  // SERIAL CHART
  chart = new AmCharts.AmSerialChart();
  chart.dataProvider = chartData;
  chart.categoryField = "priceLevels";
  chart.startDuration = 1;

  chart.marginTop = 40;

  // AXES
  // category
  var categoryAxis = chart.categoryAxis;
  categoryAxis.title = "时间段";
  categoryAxis.titleColor = "#555555";
  categoryAxis.gridAlpha = 0.15;
  categoryAxis.fillAlpha = 1;
  categoryAxis.axisColor = "#DADADA";
  categoryAxis.gridPosition = "start";


  // value
  var valueAxis = new AmCharts.ValueAxis();
  valueAxis.dashLength = 5;
  valueAxis.title = "人数"
  valueAxis.titleColor = "#555555";
  valueAxis.unit = "(人)";
  valueAxis.axisAlpha = 0;
  chart.addValueAxis(valueAxis);

  // GRAPH
  var graph = new AmCharts.AmGraph();
  graph.valueField = "visits";
  graph.colorField = "color";
  graph.balloonText = "[[category]]: [[value]]";
  graph.type = "column";
  graph.lineAlpha = 0;
  graph.fillAlphas = 0.7;
  chart.addGraph(graph);

  // WRITE
  chart.write("chartdiv");
});
</script>
<% end %>