<div class="container-fluid">
  
  <%= render 'header' %>

  <div class="row-fluid">
    <ul class="breadcrumb" style="position:relative;">
      <li><a href="/">Magic</a><span class="divider">/</span></li>
      <li><a href="/trade_reports">数据魔方</a><span class="divider">/</span></li>
      <li><a href="＃">买家分析</a><span class="divider">/</span></li>
      <li class="active">购买时段分析</li>
    </ul><!-- breadcrumb -->

    <%= render 'select_time' %>

    <div class="controls clearfix">
      <div class="btns btn-group pull-left">
        <a href="#" class="btn btn-warning"><!-- <i class="icon-user icon-white"></i> -->导出数据</a>
        <!-- <button href="#" data-toggle="dropdown" class="btn dropdown-toggle btn-warning btn_left4"><span class="caret"></span></button> -->
        <!-- <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li class="divider"></li>
          <li><a href="login.html">Sign Out</a></li>
        </ul> -->
      </div>
    </div>
    <div class="mar_t10">
      <ul class="nav nav-tabs reset_border nomargin" id="myTab_sub">
        <li class="active"><a href="#tab2" data-toggle="tab">数据概况</a></li>
      </ul>
      <div class="tab-content reset_border">
        <div class="tab-pane active chart_opts" id="tab1">
          <ul class="clearfix aug_data_tops nomargin">
            <li class="span2 noborder">
              <div>
                <a href="#" class="pull-right">
                  <!--<img src="/assets/aug_details.jpg">-->
                </a>
                                    
                          高峰成交时段TOP1
                          
              </div>
              <big><strong>22:00-23:00</strong></big>
            </li>
            <li class="span2">
              <div>
                <a href="#" class="pull-right">
                  <!--<img src="/assets/aug_details.jpg">-->
                </a>
                                    
                          高峰成交时段TOP2p
                          
              </div>
              <big><strong>21:00-22:00</strong></big>
            </li>
            <li class="span2">
              <div>
                <a href="#" class="pull-right">
                  <!--<img src="/assets/aug_details.jpg">-->
                </a>
                                    
                          高峰成交时段TOP3
                          
              </div>
              <big><strong>15:00-16:00</strong></big>
            </li>
            <li class="span2">
              <div>
                <a href="#" class="pull-right">
                  <!--<img src="/assets/aug_details.jpg">-->
                </a>
                                    
                          高峰成交时段TOP4
                          
              </div>
              <big><strong>10:00-11:00</strong></big>
            </li>
            <li class="span2">
              <div>
                <a href="#" class="pull-right">
                  <!--<img src="/assets/aug_details.jpg">-->
                </a>
                                    
                          高峰成交时段TOP5
                          
              </div>
              <big><strong>16:00-17:00</strong></big>
            </li>

          </ul>
        </div>
       </div>
    </div>
    <div class="mar_t10">
      <ul class="nav nav-tabs reset_border nomargin" id="myTab_sub">
        <li class="active"><a href="#tab2" data-toggle="tab">数据图</a></li>
      </ul>
      <div class="tab-content reset_border">
        <div class="tab-pane active chart_opts" id="tab1">
          <ul class="clearfix aug_data_tops nomargin">
            <li class="span2 noborder">
              
            </li>
          </ul>
        </div>
       </div>
    </div>

    <div class="mar_t10">
      <ul class="nav nav-tabs reset_border nomargin" id="myTab_sub">
        <li class="active"><a href="#tab1" data-toggle="tab">数据报表</a></li>
      </ul>
      <div class="tab-content reset_border padding_t20">
        <div class="tab-pane active chart_opts" id="tab1">
          <table class="table table-striped table-bordered table-condensed td_colors mar_t">
            <thead>
              <tr>
                <th>序号</th>
                <th>小时段</th>
                <th>总成交金额占比</th>
                <th>总成交人数</th>
                <th>日平均成交人数</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>22:00 - 23:00</td>
                <td>8.50%</td>
                <td>51,556</td>
                <td>7,356</td>
              </tr>
              <tr>
                <td>2</td>
                <td>22:00 - 23:00</td>
                <td>8.50%</td>
                <td>51,556</td>
                <td>7,356</td>
              </tr>
            </tbody> 
          </table>
        </div>
       </div>
    </div>

  </div>
</div>