<div class="container-fluid">
  <div class="row-fluid">
    <%= render partial: "layouts/setting_nav" %>
    <div class="span10">
      <%= render partial: "crumbs" %>
      <div class="row-fluid">
        <%= render partial: 'form' %>
      </div>
    </div>
  </div>
</div>