<div class="container-fluid">
  <div class="row-fluid">
    <ul class="breadcrumb" style="position:relative;">
      <li><a href="/">Magic</a><span class="divider">/</span></li>
      <li class="active">异常中心</li>
    </ul><!-- breadcrumb -->

    <div class="well">
      <dl class="unusual">
        <dt><span>系统自动预警</span></dt>
        <dd><a href="/trades/unpaid_two_days">超过2天未付款订单<span><!-- (20) --></span></a></dd>
        <dd><a href="/trades/unpaid_two_days">超过2天未发货订单<span><!-- (30) --></span></a></dd>
        <dd><a href="/trades/undispatched_one_day">超过1天未分流订单<span><!-- (10) --></span></a></dd>
        <!-- <dd><a href="#">状态不同步订单<span>(10)</span></a></dd>
        <dd><a href="#">状态不同步订单<span>(10)</span></a></dd>
        <dd><a href="#">状态不同步订单<span>(10)</span></a></dd>
        <dd><a href="#">库存预警商品<span>(40)</span></a></dd>
        <dd><a href="#">无库存商品<span>(10)</span></a></dd> -->
      </dl>

      <dl class="unusual">
        <dt><span>客服异常预警</span></dt>
        <dd><a href="trades/seller_delay_deliver">卖家延迟发货<span><!-- (10) --></span></a></dd>
        <dd><a href="trades/seller_ignore_deliver">卖家长时间未发货<span><!-- (6) --></span></a></dd>
        <dd><a href="trades/seller_lack_product">经销商缺货<span><!-- (1) --></span></a></dd>
        <dd><a href="trades/seller_lack_color">经销商无法调色<span><!-- (1) --></span></a></dd>
        <dd><a href="trades/buyer_demand_refund">买家要求退款<span><!-- (1) --></span></a></dd>
        <dd><a href="trades/buyer_demand_return_product">买家要求退货<span><!-- (1) --></span></a></dd>
        <dd><a href="trades/other_unusual_state">其他异常<span><!-- (1) --></span></a></dd>
      </dl>
    </div>
  </div>
</div>
