<div class="container-fluid">
  <div class="row-fluid">
    <ul class="breadcrumb" style="position:relative;">
      <li><a href="#">Magic</a><span class="divider">/</span></li>
      <li><a href="/products">订单管理</a><span class="divider">/</span></li>
      <li class="active">新增测试订单</li>
    </ul><!-- breadcrumb -->

      <%= render 'form' %>
      
  </div>
</div>